.light_gray_background { background-color:#EEEEEE; }
.dark_gray_background { background-color:#DDDDDD; }
.light_red_background { background-color:#FEEEEE; }
.dark_red_background { background-color:#EDDDDD; }
.light_green_background { background-color:#EEFEEE; }
.dark_green_background { background-color:#DDEDDD; } 